<html>
<head>
<title>
A Simple HTML Document
</title>
</head>
<body>
<p>Select a Strategy</p>

					<div id="stratmenu">
						<form id="stratform" method="POST" action="/runstrat" enctype="multipart/form-data">
                     <select id="stratslist" name="strat" required>
                            <option value="">Select a strategy:</option>
                            {% for strat in strats %}
                            	<option value="{{strat}}"> {{strat}}</option>
                            {% endfor %}
                        </select>

                        <p> Enter instruments inputs one per line.</p>
                        <textarea name="instruments" form="stratform"></textarea>

                        <br> From date to train
                        <input type="date" name="fromdate">

                        <br> To date to train
                        <input type="date" name="todate">

                        <br> Starting Money
                        <input type="number" min="1000" step="100" name="startingmoney">

                        <br>
                        Target instrument or portfolio:<br>
  						<input type="text" name="target"><br>

                        <input type="submit" value="Run Strategy">
                    </form>
                    </div>



</body>
</html>